body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #008C45; /* Fort Mill Strides green */
    padding: 1rem;
    text-align: center;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

button a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #008C45;
    border-radius: 5px;
}
